<div class="projects">
  {{ range $.Site.Data.projects.list }}
  <div class="project-card">
    {{ if .image }}
      <img src="{{.image}}">
    {{ end }}


    <h2>{{ .name }} </h2>

    {{ if .description }}
      <p> {{ .description | markdownify }} </p>
    {{ end }}
    
    {{ if .points }}

      {{ range .points}}
        <li> {{ . | markdownify }} </li>
      {{ end }}

    {{ end }}

    {{ if .url }}
    <a class="button" href="{{.url}}"> {{ .button }} </a>
    {{ end }}
  </div>
      {{ end }}
</div>
