:root {
    --base-width: 35rem;
    --f-family: avenir next, avenir, sans-serif;
    --f-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Monaco,
      Liberation Mono, Lucida Console, monospace;
    --c-gray: #f7f7f7;
    --c-black: #212427;
    --c-blue: rgb(59, 82, 139);
  }

  body {
    margin: 0;
  }

  body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--f-family);
    color: var(--c-black);
  }

  footer {
    margin-bottom: 8rem;
  }

  main {
    flex: 1;
  }

  #content figure {
    margin-left: 0;
    margin-right: 0;
  }

  #header {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }

  #list, #content, #header, #tags, footer, #tagname {
    width: var(--base-width);
    margin-left: auto;
    margin-right: auto;
  }

  #tagname {
    font-size: 14px;
    color: var(--c-black);
  }

  #list {
    list-style: none;
    padding: 0;
  }

  #list li + li {
    margin-top: 1rem;
  }

  #list li {
    display: flex;
  }

  #list li span {
    margin-left: auto;
  }

  pre {
    overflow-x: auto;
    overflow-y: auto;
    font-size: 0.8rem;
    padding: 0.5rem;
    font-family: var(--f-family-mono);
  }

  blockquote {
    padding: 0.5rem;
    margin-left: 0;
    font-style: italic;
    background-color: var(--c-gray);
  }

  a {
    color: var(--c-blue);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  #content code {
    font-size: 12px;
    font-family: var(--f-family-mono);
  }

  p code {
    background-color: var(--c-gray);
    padding: 2px 4px;
  }

  pre code {
    color: inherit;
  }

  #content img {
    max-width: 100%;
  }

  #content {
    margin-bottom: 2rem;
  }

  #tags {
    margin-bottom: 8rem;
  }

  #tags > a + a {
    margin-left: 10px;
  }

  nav > a + a {
    margin-left: 6px;
  }


  @media only screen and (max-width: 768px) {
    :root {
      --base-width: calc(100vw - 2rem);
    }

    #header {
      margin-top: 7rem;
      margin-bottom: 1rem;
    }

    #list li {
      flex-direction: column;
    }

    #list li span {
      margin-left: 0;
    }

    footer {
      margin-top: 1rem;
      margin-bottom: 7rem;
    }
  }

  .proj-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project {
    padding: 1rem;
  }

  .project:hover {
    background-color: var(--c-gray);
  }
